* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

.container_head {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background: linear-gradient(#0e2f56, #364f6b);
  padding: 0 5%;
}
.container_head header {
  height: 40px;
  margin: initial;
}
.container_head header a img {
  height: 100%;
}
.navigation {
  width: initial;
  height: 100%;
  padding-right: initial;
  position: initial;
  display: initial;
  align-items: initial;
  justify-content: initial-end;
}
.navigation__icon {
  height: 100%;
  font-size: 4rem;
  color: #f1faee;
  display: none;
  align-items: center;
}
.list_nav {
  background-color: initial;
  width: auto;
  height: 100%;
  padding: initial;
  position: initial;
  top: initial;
  left: initial;
  margin-left: initial;
  transition: initial;
  display: flex;
  align-items: center;
}
.list_nav li {
  height: initial;
  width: auto;
  list-style: none;
  border-bottom: initial;
  margin: 1rem;
}
.list_nav li a {
  font-size: 1.4rem;
  width: initial;
  display: initial;
  padding: initial;
  text-decoration: none;
  color: #f1faee;
  padding: 26px 4px 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.active {
  background: #bb8c4b;
}
.list_nav li a:hover {
  background: #bb8c4b;
}

.container__principal {
  width: initial;
  height: initial;
  padding: 60px 0 0 0;
  overflow: hidden;
}
.container_main {
  background: linear-gradient(217deg, rgb(24, 78, 119, 1), rgb(0, 0, 0, 0) 70%),
    linear-gradient(127deg, rgb(30, 96, 145, 1), rgb(0, 0, 0, 0) 70%),
    linear-gradient(336deg, rgb(22, 138, 173, 1), rgb(0, 0, 0, 0) 70%);
  border-bottom: 0.1rem solid #f3e498;
  position: relative;
  display: initial;
  flex-direction: initial;
  align-items: initial;
}
.scroll {
  width: 100%;
  height: auto;
  padding: 0 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_main h2 {
  margin: 8rem 0 0 0;
  color: #f3e498;
  font-size: 3.5rem;
}

.container_home {
  width: 90%;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  color: #f1faee;
}
.container__image {
  width: 50%;
  height: 60rem;
  margin: initial;
}
.container__text {
  width: 40%;
  font-size: 2rem;
}
.container__text h1 {
  font-size: 6rem;
  /* text-align: center; */
  margin: 0 0 5rem 0;
}
.container__text h3 {
  margin: 2rem 0;
  color: #ffd166;
}
.container__text h3,
.container__text article {
  font-family: "Kanit", sans-serif;
}
.container__text article {
  font-family: "Kanit", sans-serif;
  text-align: justify;
}
.redes_sociales {
  right: 0;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  position: fixed;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.redes_sociales a {
  margin: 1rem 1.5rem 1rem 0.5rem;
}
.redes_sociales img {
  width: 3rem;
}

.container__title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container__title h2 {
  font-size: 1.8rem;
  color: #f3e498;
  background-color: #184e77;
  padding: 1rem 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: #f3e498 0 0 10px;
}
.container__title h2 span {
  color: #bb8c4b;
}
.container_nosotros__main {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-between;
  margin: 5rem auto;
  color: #f1faee;
  text-align: justify;
  font-size: 2rem;
}
.container_nosotros__text {
  width: 45%;
  order: 0;
}
.container_nosotros__animation {
  padding: 2rem 0;
  font-family: "Kanit", sans-serif;
}
.container_nosotros__mis-vis h3 {
  color: #ffd166;
  padding-bottom: 2rem;
  padding-left: 2rem;
}
.container_nosotros__mis-vis p {
  padding-bottom: 2rem;
  font-family: "Kanit", sans-serif;
}
.container_nosotros_img {
  width: 50%;
  height: 60rem;
  margin: 1rem 0;
  background-image: url(./img/nosotros.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container_services__secondary {
  width: 80%;
  height: 100%;
  color: #f1faee;
  margin-bottom: 5rem;
}
.container_services__third {
  margin: 2rem 0;
}
.container_services__third h3 {
  text-align: initial;
}
.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_services__img {
  width: 50%;
  height: 20rem;
}
.diseno_web__img {
  margin-bottom: initial;
  order: 1;
}
.diseno_grafico__img {
  margin-bottom: initial;
  order: 1;
}
.branding__img {
  margin-bottom: initial;
  order: 1;
}
.container_services__txt {
  width: 50%;
}
.container_services__txt p {
  font-size: 2rem;
}

.container_portafolio__secondary {
  flex-direction: initial;
  align-items: initial;
  margin: 0 0 5rem 0;
  justify-content: space-between;
}
.container_portafolio__third {
  width: 45%;
}
.container_portafolio__info h3 {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid #ffd166;
  margin: 2rem 0;
}
.container_portafolio__dw img {
  margin-bottom: 2rem;
}
.container_portafolio__dg img,
.container_portafolio__dl img {
  width: 30%;
}
.container_contacto__main {
  flex-direction: initial;
  justify-content: space-around;
  margin: 5rem 0;
}
.container_contacto_img {
  text-align: center;
  padding: initial;
  height: 40rem;
  width: 40%;
  background-image: url(./img/img_services.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #f1faee;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
}
.container__form {
  width: 50%;
}
.formulario {
  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #f1faee 0 0 5px;
  margin: 2rem 0;
  padding: 4rem;
  border-radius: 2rem;
}
.formulario__title {
  color: #f1faee;
  padding: 2rem;
  font-size: 1.6rem;
  text-align: center;
}
.formulario__item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formulario__input {
  width: 100%;
  padding: 1rem;
  margin: 2rem 0;
  background-color: transparent;
  border-style: none;
  border-bottom: 0.1rem solid #f1faee;
  color: #f1faee;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
}
::placeholder {
  color: rgb(241, 250, 238, 0.6);
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}
.text__area {
  width: 100%;
  height: 15rem;
  border-color: #f1faee;
  background-color: transparent;
  padding: 2rem;
  margin: 2rem 0;
  color: #f1faee;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  border-radius: 0.5rem;
}
.button__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.formulario__enviar {
  width: 50%;
  padding: 1rem;
  border-radius: 2rem;
  border-style: none;
  cursor: pointer;
  border: 0.1rem solid #f1faee;
  background-color: transparent;
  color: #f1faee;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}
.footer {
  width: 100%;
  height: 10rem;
  background-color: #184e77;
  color: #f3e498;
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__container--img img {
  width: 24px;
}
.copy {
  font-size: 1.2rem;
}
